name: build-and-release

on:
  workflow_dispatch:
    inputs:
      DEVICE_MODEL:
        description: '设备选择'
        required: true
        type: choice
        options:
          - 所有设备
          - Qihoo 360V6
        default: '所有设备'

env:
  DEVICE_MODEL: ${{ inputs.DEVICE_MODEL == '所有设备' && 'build_all' || inputs.DEVICE_MODEL == 'Qihoo 360V6' && 'build_360v6' }}

permissions: write-all

jobs:
  core:
    name: build-and-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Projects
        uses: actions/checkout@main

      - name: Initialization Environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt update
          sudo apt install -y build-essential device-tree-compiler python3
          sudo -E systemctl daemon-reload
          sudo -E timedatectl set-timezone "Asia/Shanghai"

      - name: Compile U-Boot
        run: |
          . ./build.sh $DEVICE_MODEL

          echo "COMPILE_DATE=$COMPILE_DATE" >> $GITHUB_ENV

      - name: Release U-Boot
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{env.COMPILE_DATE}}
          files: ./bin/${{env.COMPILE_DATE}}/*
          body_path: ./releasenotes.md
